Damienbod.BusinessLayer/obj
Damienbod.ElasticSearchProvider/bin
Damienbod.ElasticSearchProvider/obj
Damienbod.BusinessLayer/bin
WebApiODataElasticsearch/bin
WebApiODataElasticsearch/obj
WebApiODataElasticsearch/WebApiODataElasticsearch.csproj.user
Damienbod.AnimalProvider/obj
Damienbod.AnimalProvider/bin
WebApiODataElasticsearch.v12.suo
ElasticLINQ/bin
ElasticLINQ/obj
ConsoleElasticsearchCrudExample/bin
ConsoleElasticsearchCrudExample/obj
ElasticsearchCrud.v12.suo
WebApiElasticsearchCrudExample/bin
WebApiElasticsearchCrudExample/obj
WebApiElasticsearchCrudExample/WebApiElasticsearchCrudExample.csproj.user
ElasticsearchCRUD/obj
ElasticsearchCRUD/bin
ElasticsearchCRUD.Integration.Test/obj
ElasticsearchCRUD.Integration.Test/bin
ElasticsearchCrud.sln.DotSettings.user
DataTransferEF_SQLToElasticsearch/bin/Release/EntityFramework.SqlServer.xml
DataTransferEF_SQLToElasticsearch/bin
DataTransferEF_SQLToElasticsearch/obj
ElasticsearchCRUD/ElasticsearchCRUD.csproj.user
Examples/ConsoleElasticsearchCrudExample/bin
Examples/ConsoleElasticsearchCrudExample/obj
Examples/Damienbod.AnimalProvider/bin
Examples/DataTransferEF_SQLToElasticsearch/obj
Examples/Damienbod.AnimalProvider/obj
Examples/DataTransferEF_SQLToElasticsearch/bin
Examples/WebApiElasticsearchCrudExample/bin
Examples/WebApiElasticsearchCrudExample/obj
ElasticsearchCrudAspNet5/src/ElasticsearchCrud/obj
ElasticsearchCrudAspNet5/src/ElasticsearchGermanAnalyzer/ElasticsearchGermanAnalyzer.xproj.user
ElasticsearchCrudAspNet5/.vs/ElasticsearchCrud/v14/.suo
ElasticsearchCrudAspNet5/artifacts/bin/ElasticsearchCrud/Release/dnx451/ElasticsearchCrud.dll
ElasticsearchCrudAspNet5/artifacts/bin/ElasticsearchCrud/Release/dnx451/ElasticsearchCrud.pdb
ElasticsearchCrudAspNet5/artifacts/bin/ElasticsearchCrud/Release/dnx451/ElasticsearchCrud.xml
ElasticsearchCrudAspNet5/artifacts/bin/ElasticsearchCrud/Release/dnxcore50/ElasticsearchCrud.dll
ElasticsearchCrudAspNet5/artifacts/bin/ElasticsearchCrud/Release/dnxcore50/ElasticsearchCrud.pdb
ElasticsearchCrudAspNet5/artifacts/bin/ElasticsearchCrud/Release/dnxcore50/ElasticsearchCrud.xml
ElasticsearchCrudAspNet5/src/ElasticsearchCrud/project.lock.json
ElasticsearchCrudAspNet5/src/ElasticsearchGermanAnalyzer/project.lock.json
ElasticsearchCrudAspNet5/src/ElasticsearchCRUD.Integration.Test/ElasticsearchCRUD.Integration.Test.xproj.user
ElasticsearchCrudAspNet5/src/ElasticsearchCRUD.Integration.Test/project.lock.json
ElasticsearchCrudAspNet5/artifacts/bin
ElasticsearchCrudAspNet5/artifacts
ElasticsearchCrudAspNet5/src/ElasticsearchCRUD.Integration.Test/bin
ElasticsearchCrudAspNet5/src/ElasticsearchCRUD.Integration.Test/obj
ElasticsearchCrudAspNet5/src/ElasticsearchCrud/bin
ElasticsearchCrudAspNet5/src/ElasticsearchGermanAnalyzer/obj
.vs/ElasticsearchCrud/v14/.suo
ElasticsearchCrudAspNet5/.vs/restore.dg
ElasticsearchCrudAspNet5/src/ElasticsearchGermanAnalyzer/bin
src/ElasticsearchCRUD.Integration.Test/obj
src/ElasticsearchCrud/obj
src/ElasticsearchCrud/bin
src/ElasticsearchGermanAnalyzer/bin
src/ElasticsearchGermanAnalyzer/obj
.vs/restore.dg
src/ElasticsearchGermanAnalyzer/ElasticsearchGermanAnalyzer.xproj.user
src/ElasticsearchGermanAnalyzer/project.lock.json
src/ElasticsearchCRUD.Integration.Test/project.lock.json
src/ElasticsearchCRUD.Integration.Test/bin
src/ElasticsearchCRUDNUnit.Integration.Test/obj
src/ElasticsearchCrud/project.lock.json
.vs/config/applicationhost.config
