Damienbod.BusinessLayer/obj
Damienbod.ElasticSearchProvider/bin
Damienbod.ElasticSearchProvider/obj
Damienbod.BusinessLayer/bin
WebApiODataElasticsearch/bin
WebApiODataElasticsearch/obj
WebApiODataElasticsearch/WebApiODataElasticsearch.csproj.user
Damienbod.AnimalProvider/obj
Damienbod.AnimalProvider/bin
WebApiODataElasticsearch.v12.suo
ElasticLINQ/bin
ElasticLINQ/obj
ConsoleElasticsearchCrudExample/bin
ConsoleElasticsearchCrudExample/obj
ElasticsearchCrud.v12.suo
WebApiElasticsearchCrudExample/bin
WebApiElasticsearchCrudExample/obj
WebApiElasticsearchCrudExample/WebApiElasticsearchCrudExample.csproj.user
ElasticsearchCRUD/obj
ElasticsearchCRUD/bin
ElasticsearchCRUD.Integration.Test/obj
ElasticsearchCRUD.Integration.Test/bin
ElasticsearchCrud.sln.DotSettings.user
DataTransferEF_SQLToElasticsearch/bin/Release/EntityFramework.SqlServer.xml
DataTransferEF_SQLToElasticsearch/bin
DataTransferEF_SQLToElasticsearch/obj
ElasticsearchCRUD/ElasticsearchCRUD.csproj.user
Examples/ConsoleElasticsearchCrudExample/bin
Examples/ConsoleElasticsearchCrudExample/obj
Examples/Damienbod.AnimalProvider/bin
Examples/DataTransferEF_SQLToElasticsearch/obj
Examples/Damienbod.AnimalProvider/obj
Examples/DataTransferEF_SQLToElasticsearch/bin
Examples/WebApiElasticsearchCrudExample/bin
Examples/WebApiElasticsearchCrudExample/obj
