Damienbod.BusinessLayer/obj
Damienbod.ElasticSearchProvider/bin
Damienbod.ElasticSearchProvider/obj
Damienbod.BusinessLayer/bin
WebApiODataElasticsearch/bin
WebApiODataElasticsearch/obj
WebApiODataElasticsearch/WebApiODataElasticsearch.csproj.user
Damienbod.AnimalProvider/obj
Damienbod.AnimalProvider/bin
WebApiODataElasticsearch.v12.suo
ElasticLINQ/bin
ElasticLINQ/obj
ConsoleElasticsearchCrudExample/bin
ConsoleElasticsearchCrudExample/obj
ElasticsearchCrud.v12.suo
WebApiElasticsearchCrudExample/bin
WebApiElasticsearchCrudExample/obj
WebApiElasticsearchCrudExample/WebApiElasticsearchCrudExample.csproj.user
ElasticsearchCRUD/obj
ElasticsearchCRUD/bin
ElasticsearchCRUD.Integration.Test/obj
ElasticsearchCRUD.Integration.Test/bin
